# Sans cette ligne il installe une version trop recente de grpcio qui n'est pas compatible avec Python 2
# Note: eviter les accents car Python 2

grpcio==1.19.0

tensorflow-gpu==1.14
progressbar2>=3.0
numpy>=1.13
opencv-python>=3.2,<=4.2.0.32
scikit-learn>=0.18
scipy>=0.18
matplotlib>=1.5
Pillow>=3.1.2
nvidia-ml-py>=10.418.84
